<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="draw2d"
          class="Draw2d">
    </bean>
    <bean id="draw3d"
          class="Draw3d">
    </bean>
    <!-- constructor injection -->
    <bean id="circleShape" scope="singleton"
          class="Circle">
        <constructor-arg name="draw2d" ref="draw2d"/>
        <constructor-arg name="draw3d" ref="draw3d"/>
    </bean>

        <!-- Setter injection -->
    <bean id="squareShape" scope="prototype"
          class="Square">
        <property name="draw2d" ref="draw2d"/>
        <property name="draw3d" ref="draw3d"/>
    </bean>
</beans>